#### Hello im my notebook the name it pyspark_snowflake

**Set the configuration to allow spark session in primary node complete**

In [2]:
!pip show pyspark

Name: pyspark
Version: 3.5.5
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages
Requires: py4j
Required-by:

In [3]:
!java --version

openjdk 11.0.26 2025-01-21
OpenJDK Runtime Environment (build 11.0.26+4-post-Ubuntu-1ubuntu124.04)
OpenJDK 64-Bit Server VM (build 11.0.26+4-post-Ubuntu-1ubuntu124.04, mixed mode, sharing)

In [4]:
!whereis java

java: /usr/bin/java /usr/share/java /opt/jdk/bin/java /usr/share/man/man1/java.1.gz

In [5]:
!export JAVA_HOME=/opt/jdk

In [6]:
!export PATH=$JAVA_HOME/bin:$PATH

In [7]:
!java --version

openjdk 11.0.26 2025-01-21
OpenJDK Runtime Environment (build 11.0.26+4-post-Ubuntu-1ubuntu124.04)
OpenJDK 64-Bit Server VM (build 11.0.26+4-post-Ubuntu-1ubuntu124.04, mixed mode, sharing)

In [8]:
!which spark-submit

/home/hazem/snowflake_dbt_spark/snowflake_dbt/bin/spark-submit

In [9]:
from pyspark.sql import SparkSession

In [130]:

spark = SparkSession.builder \
    .appName('sparksnowflake') \
    .config('spark.jars', '/home/hazem/snowflake_dbt_spark/snowflake_dbt/jars/mysql-connector-j-8.4.0.jar') \
    .enableHiveSupport() \
    .getOrCreate()

In [131]:
sc = spark.sparkContext

In [132]:
spark

In [128]:
sc

In [14]:
spark.sparkContext.setLogLevel("ERROR")

In [15]:
from pyspark.sql.functions import *

In [16]:
from pyspark.sql.types import *

In [17]:
import pyspark.sql.functions as fn

In [18]:
!pip install pandas

Requirement already satisfied: pandas in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/hazem/snowflake_dbt_spark/snowflake_dbt/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [19]:
import pandas as pd

In [20]:
!python3 -V

Python 3.12.3

In [21]:
!pip list

Package                    Version
-------------------------- -----------
agate                      1.9.1
annotated-types            0.7.0
asn1crypto                 1.5.1
asttokens                  3.0.0
attrs                      25.3.0
babel                      2.17.0
boto3                      1.37.38
botocore                   1.37.38
certifi                    2025.1.31
cffi                       1.17.1
charset-normalizer         3.4.1
click                      8.1.8
colorama                   0.4.6
comm                       0.2.2
cryptography               44.0.2
daff                       1.3.46
dbt-adapters               1.14.6
dbt-common                 1.23.0
dbt-core                   1.9.4
dbt-extractor              0.6.0
dbt-semantic-interfaces    0.7.4
dbt-snowflake              1.9.2
debugpy                    1.8.14
decorator                  5.2.1
deepdiff                   7.0.1
executing                  2.2.0
filelock                   3.18.0
idna                       3.10
importlib-metadata         6.11.0
ipykernel                  6.29.5
ipython                    9.1.0
ipython_pygments_lexers    1.1.1
isodate                    0.6.1
jaraco.classes             3.4.0
jaraco.context             6.0.1
jaraco.functools           4.1.0
jedi                       0.19.2
jeepney                    0.9.0
Jinja2                     3.1.6
jmespath                   1.0.1
jsonschema                 4.23.0
jsonschema-specifications  2024.10.1
jupyter_client             8.6.3
jupyter_core               5.7.2
keyring                    25.6.0
leather                    0.4.0
MarkupSafe                 3.0.2
mashumaro                  3.14
matplotlib-inline          0.1.7
more-itertools             10.6.0
msgpack                    1.1.0
nest-asyncio               1.6.0
networkx                   3.4.2
numpy                      2.2.5
ordered-set                4.1.0
packaging                  25.0
pandas                     2.2.3
parsedatetime              2.6
parso                      0.8.4
pathspec                   0.12.1
pexpect                    4.9.0
pip                        24.0
platformdirs               4.3.7
prompt_toolkit             3.0.51
protobuf                   5.29.4
psutil                     7.0.0
ptyprocess                 0.7.0
pure_eval                  0.2.3
py4j                       0.10.9.7
pycparser                  2.22
pydantic                   2.11.3
pydantic_core              2.33.1
Pygments                   2.19.1
PyJWT                      2.10.1
pyOpenSSL                  25.0.0
pyspark                    3.5.5
python-dateutil            2.9.0.post0
python-slugify             8.0.4
pytimeparse                1.1.8
pytz                       2025.2
PyYAML                     6.0.2
pyzmq                      26.4.0
referencing                0.36.2
requests                   2.32.3
rpds-py                    0.24.0
s3transfer                 0.11.5
SecretStorage              3.3.3
six                        1.17.0
snowflake-connector-python 3.14.1
snowplow-tracker           1.1.0
sortedcontainers           2.4.0
sqlparse                   0.5.3
stack-data                 0.6.3
text-unidecode             1.3
tomlkit                    0.13.2
tornado                    6.4.2
traitlets                  5.14.3
typing_extensions          4.13.2
typing-inspection          0.4.0
tzdata                     2025.2
urllib3                    2.4.0
wcwidth                    0.2.13
zipp                       3.21.0

In [22]:
data_list = [(1 , 'Ahmed','Omar' , 'Maadi' ,'male',['tennsi' , 'reading' ,'cooking']) , 
             (2 , 'Khaled','Montaser' , 'Helwan' ,'male',['football' , 'smoking' ,'cooking']),
             (3 , 'Hager','Ali' , 'Maadi' ,'female',['vollyball' , 'painting' ,'cooking']),
             (4 , 'Asmaa','Mansour' , 'Nacercity' ,None,['TV' , 'reading' ,'cooking'])              
            ]

In [23]:
print(type(data_list))

<class 'list'>

In [24]:
print(f"{data_list}" , end= ' ')

[(1, 'Ahmed', 'Omar', 'Maadi', 'male', ['tennsi', 'reading', 'cooking']), (2, 'Khaled', 'Montaser', 'Helwan', 'male', ['football', 'smoking', 'cooking']), (3, 'Hager', 'Ali', 'Maadi', 'female', ['vollyball', 'painting', 'cooking']), (4, 'Asmaa', 'Mansour', 'Nacercity', None, ['TV', 'reading', 'cooking'])]

In [25]:
i=0
for index , item in list(enumerate(data_list[1])):
    print(item)

2
Khaled
Montaser
Helwan
male
['football', 'smoking', 'cooking']

In [26]:
for item in data_list[0]:
    print(item )

1
Ahmed
Omar
Maadi
male
['tennsi', 'reading', 'cooking']

In [27]:
data_dict = {'ID':1 , 'Name':'Hazem' , 'Age':29}

In [28]:
words = 'Address'
if words in data_dict:
    data_dict[words] = 'Maadi'
else:
    data_dict[words] = 'None'
print(f'{data_dict}')

{'ID': 1, 'Name': 'Hazem', 'Age': 29, 'Address': 'None'}

In [29]:
data_dict.items()

dict_items([('ID', 1), ('Name', 'Hazem'), ('Age', 29), ('Address', 'None')])

In [30]:
#('ID', 1)
for (index , word) in sorted(data_dict.items()):
    print(f'Index: {index:<8} | {word}')

Index: Address  | None
Index: Age      | 29
Index: ID       | 1
Index: Name     | Hazem

In [31]:
if data_dict[words]== 'Maadi':
    print(len(data_dict))

In [32]:
from pyspark.sql.functions import *

In [33]:
from pyspark.sql.types import *

In [34]:
import pyspark.sql.functions as fn

In [35]:
# create programmatic schemaa 
schemaa = StructType([
    StructField('ID' , IntegerType() , True) ,
    StructField('First_Name' , StringType() , True) ,
    StructField('Last_Name' , StringType() , True) ,
    StructField('Address' , StringType() , True) ,
    StructField('Gender' , StringType() , True) ,
    StructField('Hobbits' , ArrayType(StringType()) , True) ,
])

In [36]:
data_df = spark.createDataFrame(data_list , schema= schemaa)

In [37]:
data_df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- First_Name: string (nullable = true)
 |-- Last_Name: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Hobbits: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [38]:
data_df.dtypes

[('ID', 'int'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Address', 'string'),
 ('Gender', 'string'),
 ('Hobbits', 'array<string>')]

In [39]:
data_df.show(n=4 , truncate=False)

+---+----------+---------+---------+------+------------------------------+
|ID |First_Name|Last_Name|Address  |Gender|Hobbits                       |
+---+----------+---------+---------+------+------------------------------+
|1  |Ahmed     |Omar     |Maadi    |male  |[tennsi, reading, cooking]    |
|2  |Khaled    |Montaser |Helwan   |male  |[football, smoking, cooking]  |
|3  |Hager     |Ali      |Maadi    |female|[vollyball, painting, cooking]|
|4  |Asmaa     |Mansour  |Nacercity|NULL  |[TV, reading, cooking]        |
+---+----------+---------+---------+------+------------------------------+

In [40]:
data_df_date_add = data_df.withColumn('hire_date' , current_timestamp())

In [41]:
data_df_date_add.show(truncate=False)

+---+----------+---------+---------+------+------------------------------+--------------------------+
|ID |First_Name|Last_Name|Address  |Gender|Hobbits                       |hire_date                 |
+---+----------+---------+---------+------+------------------------------+--------------------------+
|1  |Ahmed     |Omar     |Maadi    |male  |[tennsi, reading, cooking]    |2025-04-26 23:33:08.136257|
|2  |Khaled    |Montaser |Helwan   |male  |[football, smoking, cooking]  |2025-04-26 23:33:08.136257|
|3  |Hager     |Ali      |Maadi    |female|[vollyball, painting, cooking]|2025-04-26 23:33:08.136257|
|4  |Asmaa     |Mansour  |Nacercity|NULL  |[TV, reading, cooking]        |2025-04-26 23:33:08.136257|
+---+----------+---------+---------+------+------------------------------+--------------------------+

In [42]:
data_df_date_add.dtypes

[('ID', 'int'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Address', 'string'),
 ('Gender', 'string'),
 ('Hobbits', 'array<string>'),
 ('hire_date', 'timestamp')]

In [43]:
data_df_date_add_date = data_df_date_add.withColumn('hire_date' , col('hire_date').cast(DateType()))

In [44]:
data_df_date_add_to_date  = data_df_date_add.withColumn('hire_date' , to_date(col('hire_date'))).show()

+---+----------+---------+---------+------+--------------------+----------+
| ID|First_Name|Last_Name|  Address|Gender|             Hobbits| hire_date|
+---+----------+---------+---------+------+--------------------+----------+
|  1|     Ahmed|     Omar|    Maadi|  male|[tennsi, reading,...|2025-04-26|
|  2|    Khaled| Montaser|   Helwan|  male|[football, smokin...|2025-04-26|
|  3|     Hager|      Ali|    Maadi|female|[vollyball, paint...|2025-04-26|
|  4|     Asmaa|  Mansour|Nacercity|  NULL|[TV, reading, coo...|2025-04-26|
+---+----------+---------+---------+------+--------------------+----------+

In [45]:
data_df_date_add_to_timstamp = data_df_date_add.withColumn('hire_date' , to_timestamp(col('hire_date') , 'yyyy-dd-MM')).show(truncate=False)

+---+----------+---------+---------+------+------------------------------+--------------------------+
|ID |First_Name|Last_Name|Address  |Gender|Hobbits                       |hire_date                 |
+---+----------+---------+---------+------+------------------------------+--------------------------+
|1  |Ahmed     |Omar     |Maadi    |male  |[tennsi, reading, cooking]    |2025-04-26 23:33:09.310686|
|2  |Khaled    |Montaser |Helwan   |male  |[football, smoking, cooking]  |2025-04-26 23:33:09.310686|
|3  |Hager     |Ali      |Maadi    |female|[vollyball, painting, cooking]|2025-04-26 23:33:09.310686|
|4  |Asmaa     |Mansour  |Nacercity|NULL  |[TV, reading, cooking]        |2025-04-26 23:33:09.310686|
+---+----------+---------+---------+------+------------------------------+--------------------------+

In [46]:
data_df_date_add_date.dtypes

[('ID', 'int'),
 ('First_Name', 'string'),
 ('Last_Name', 'string'),
 ('Address', 'string'),
 ('Gender', 'string'),
 ('Hobbits', 'array<string>'),
 ('hire_date', 'date')]

In [47]:
data_df_date_add_date.cache()

DataFrame[ID: int, First_Name: string, Last_Name: string, Address: string, Gender: string, Hobbits: array<string>, hire_date: date]

In [48]:
data_df_date_add_date.show(truncate=False)

+---+----------+---------+---------+------+------------------------------+----------+
|ID |First_Name|Last_Name|Address  |Gender|Hobbits                       |hire_date |
+---+----------+---------+---------+------+------------------------------+----------+
|1  |Ahmed     |Omar     |Maadi    |male  |[tennsi, reading, cooking]    |2025-04-26|
|2  |Khaled    |Montaser |Helwan   |male  |[football, smoking, cooking]  |2025-04-26|
|3  |Hager     |Ali      |Maadi    |female|[vollyball, painting, cooking]|2025-04-26|
|4  |Asmaa     |Mansour  |Nacercity|NULL  |[TV, reading, cooking]        |2025-04-26|
+---+----------+---------+---------+------+------------------------------+----------+

In [49]:
data_df_date_add_date_select = data_df_date_add_date.select('ID' ,data_df_date_add_date['First_Name'].alias('first_name') , year(col('hire_date')).alias('year_date'))

In [50]:
data_df_date_add_date_select.show()

+---+----------+---------+
| ID|first_name|year_date|
+---+----------+---------+
|  1|     Ahmed|     2025|
|  2|    Khaled|     2025|
|  3|     Hager|     2025|
|  4|     Asmaa|     2025|
+---+----------+---------+

In [51]:
data_df_date_add_date_null = data_df_date_add_date.na.fill('N/A' ,subset=['Gender'])

In [52]:
data_df_date_add_date_null.show()

+---+----------+---------+---------+------+--------------------+----------+
| ID|First_Name|Last_Name|  Address|Gender|             Hobbits| hire_date|
+---+----------+---------+---------+------+--------------------+----------+
|  1|     Ahmed|     Omar|    Maadi|  male|[tennsi, reading,...|2025-04-26|
|  2|    Khaled| Montaser|   Helwan|  male|[football, smokin...|2025-04-26|
|  3|     Hager|      Ali|    Maadi|female|[vollyball, paint...|2025-04-26|
|  4|     Asmaa|  Mansour|Nacercity|   N/A|[TV, reading, coo...|2025-04-26|
+---+----------+---------+---------+------+--------------------+----------+

In [53]:
data_df_date_add_date.show()

+---+----------+---------+---------+------+--------------------+----------+
| ID|First_Name|Last_Name|  Address|Gender|             Hobbits| hire_date|
+---+----------+---------+---------+------+--------------------+----------+
|  1|     Ahmed|     Omar|    Maadi|  male|[tennsi, reading,...|2025-04-26|
|  2|    Khaled| Montaser|   Helwan|  male|[football, smokin...|2025-04-26|
|  3|     Hager|      Ali|    Maadi|female|[vollyball, paint...|2025-04-26|
|  4|     Asmaa|  Mansour|Nacercity|  NULL|[TV, reading, coo...|2025-04-26|
+---+----------+---------+---------+------+--------------------+----------+

In [54]:
data_df_date_add_date_null_co = data_df_date_add_date.withColumn('Gender',coalesce(col('Gender'),lit('N/A')))

In [55]:
data_df_date_add_date_null_co.show()

+---+----------+---------+---------+------+--------------------+----------+
| ID|First_Name|Last_Name|  Address|Gender|             Hobbits| hire_date|
+---+----------+---------+---------+------+--------------------+----------+
|  1|     Ahmed|     Omar|    Maadi|  male|[tennsi, reading,...|2025-04-26|
|  2|    Khaled| Montaser|   Helwan|  male|[football, smokin...|2025-04-26|
|  3|     Hager|      Ali|    Maadi|female|[vollyball, paint...|2025-04-26|
|  4|     Asmaa|  Mansour|Nacercity|   N/A|[TV, reading, coo...|2025-04-26|
+---+----------+---------+---------+------+--------------------+----------+

In [56]:
data_df_date_add_date_null_co_hire = data_df_date_add_date_null_co.withColumn('hire_date', date_format(col('hire_date'),'dd-MM-yyyy'))

In [57]:
data_df_date_add_date_null_co_hire.show()

+---+----------+---------+---------+------+--------------------+----------+
| ID|First_Name|Last_Name|  Address|Gender|             Hobbits| hire_date|
+---+----------+---------+---------+------+--------------------+----------+
|  1|     Ahmed|     Omar|    Maadi|  male|[tennsi, reading,...|26-04-2025|
|  2|    Khaled| Montaser|   Helwan|  male|[football, smokin...|26-04-2025|
|  3|     Hager|      Ali|    Maadi|female|[vollyball, paint...|26-04-2025|
|  4|     Asmaa|  Mansour|Nacercity|   N/A|[TV, reading, coo...|26-04-2025|
+---+----------+---------+---------+------+--------------------+----------+

In [58]:
# Sliver Layer Check about the columns 
data_df_date_add_date_null_co_hire.select('*')\
.count()

4

In [59]:
# codeing for bronz layer make a dta ingest
data_csv = spark.read.format('csv')\
.option('inferSchema' , 'True')\
.option('header' ,'True')\
.option('samplingRatio',0.001)\
.option('path', '/home/hazem/snowflake_dbt_spark/datasets/source_crm/cust_info.csv')\
.load()

In [60]:
data_csv.dtypes

[('cst_id', 'int'),
 ('cst_key', 'string'),
 ('cst_firstname', 'string'),
 ('cst_lastname', 'string'),
 ('cst_marital_status', 'string'),
 ('cst_gndr', 'string'),
 ('cst_create_date', 'date')]

In [61]:
data_csv.printSchema()

root
 |-- cst_id: integer (nullable = true)
 |-- cst_key: string (nullable = true)
 |-- cst_firstname: string (nullable = true)
 |-- cst_lastname: string (nullable = true)
 |-- cst_marital_status: string (nullable = true)
 |-- cst_gndr: string (nullable = true)
 |-- cst_create_date: date (nullable = true)

In [62]:
data_csv.show(10)

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
| 11005|AW00011005|        Julio|        Ruiz|                 S|       M|     2025-10-06|
| 11006|AW00011006|        Janet|     Alvarez|                 S|       F|     2025-10-06|
| 11007|AW00011007|        Marco|       Mehta|                 M|       M|     2025-10-06|
| 11008|AW00011008|          Rob|     Verhoff|                 S|       F|     2025-10-06|
| 11009|AW00011009|      Shannon|     Carlson|                 S|       M|     2025-10-06|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 10 rows

In [63]:
data_csv_count = data_csv.select('*')\
.count()

In [64]:
# validation for bronz layer (Tracebility and dubging)
data_csv_count

18494

In [65]:
data_csv.dtypes

[('cst_id', 'int'),
 ('cst_key', 'string'),
 ('cst_firstname', 'string'),
 ('cst_lastname', 'string'),
 ('cst_marital_status', 'string'),
 ('cst_gndr', 'string'),
 ('cst_create_date', 'date')]

In [66]:
# Sliver layer check about the data quality 
data_csv.show(5)

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 5 rows

In [67]:
# first column cst_id check the data about it (data qulity)
# when the checking end have issus what,s mean have duplication and redadency
data_csv_cst_id = data_csv.select('*')\
.groupBy('cst_id')\
.agg(fn.count('*').alias('count_number'))\
.where((col('cst_id').isNotNull()) & (col('count_number') > 1)).show()

+------+------------+
|cst_id|count_number|
+------+------------+
| 29483|           2|
| 29473|           2|
| 29449|           2|
| 29466|           3|
| 29433|           2|
+------+------------+

In [68]:
# Now solve this issus to get good quallity
# create tmp view this view virtual but needed to write sql operation 
data_csv.createOrReplaceTempView('customer_info')

In [69]:
spark.sql('CREATE DATABASE IF NOT EXISTS Employee')

DataFrame[]

In [70]:
spark.sql('USE Employee')

DataFrame[]

In [71]:
data_csv_cst_id_edit = spark.sql('''
    SELECT * , ROW_NUMBER() over(PARTITION BY cst_id ORDER BY cst_id) as rn  FROM customer_info as crm
''').show()

+------+----------+-------------+------------+------------------+--------+---------------+---+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date| rn|
+------+----------+-------------+------------+------------------+--------+---------------+---+
|  NULL|     SF566|         NULL|        NULL|              NULL|    NULL|           NULL|  1|
|  NULL|      PO25|         NULL|        NULL|              NULL|    NULL|           NULL|  2|
|  NULL|  13451235|         NULL|        NULL|              NULL|    NULL|           NULL|  3|
|  NULL|    A01Ass|         NULL|        NULL|              NULL|    NULL|           NULL|  4|
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|  1|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|  1|
| 11002|AW00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|  1|
| 11003|AW00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|  1|
| 11004|AW00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|  1|
| 11005|AW00011005|        Julio|        Ruiz|                 S|       M|     2025-10-06|  1|
| 11006|AW00011006|        Janet|     Alvarez|                 S|       F|     2025-10-06|  1|
| 11007|AW00011007|        Marco|       Mehta|                 M|       M|     2025-10-06|  1|
| 11008|AW00011008|          Rob|     Verhoff|                 S|       F|     2025-10-06|  1|
| 11009|AW00011009|      Shannon|     Carlson|                 S|       M|     2025-10-06|  1|
| 11010|AW00011010|    Jacquelyn|      Suarez|                 S|       F|     2025-10-06|  1|
| 11011|AW00011011|       Curtis|          Lu|                 M|       M|     2025-10-06|  1|
| 11012|AW00011012|       Lauren|      Walker|                 M|       F|     2025-10-06|  1|
| 11013|AW00011013|         Ian |    Jenkins |                 M|       M|     2025-10-06|  1|
| 11014|AW00011014|       Sydney|     Bennett|                 S|       F|     2025-10-06|  1|
| 11015|AW00011015|        Chloe|       Young|                 S|       F|     2025-10-06|  1|
+------+----------+-------------+------------+------------------+--------+---------------+---+
only showing top 20 rows

In [72]:
data_csv_cst_id_edit = spark.sql('''
    SELECT t.cst_id,t.cst_key,t.cst_firstname,t.cst_lastname,t.cst_marital_status,t.cst_gndr,t.cst_create_date
                                  FROM(
                SELECT * , ROW_NUMBER() over(PARTITION BY cst_id ORDER BY cst_id) as rn  FROM customer_info as crm
                )t
        WHERE t.rn = 1 AND t.cst_id IS NOT NULL 
''')

In [73]:
data_csv_cst_id_edit.show()

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
| 11002|AW00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|AW00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|AW00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
| 11005|AW00011005|        Julio|        Ruiz|                 S|       M|     2025-10-06|
| 11006|AW00011006|        Janet|     Alvarez|                 S|       F|     2025-10-06|
| 11007|AW00011007|        Marco|       Mehta|                 M|       M|     2025-10-06|
| 11008|AW00011008|          Rob|     Verhoff|                 S|       F|     2025-10-06|
| 11009|AW00011009|      Shannon|     Carlson|                 S|       M|     2025-10-06|
| 11010|AW00011010|    Jacquelyn|      Suarez|                 S|       F|     2025-10-06|
| 11011|AW00011011|       Curtis|          Lu|                 M|       M|     2025-10-06|
| 11012|AW00011012|       Lauren|      Walker|                 M|       F|     2025-10-06|
| 11013|AW00011013|         Ian |    Jenkins |                 M|       M|     2025-10-06|
| 11014|AW00011014|       Sydney|     Bennett|                 S|       F|     2025-10-06|
| 11015|AW00011015|        Chloe|       Young|                 S|       F|     2025-10-06|
| 11016|AW00011016|        Wyatt|        Hill|                 M|       M|     2025-10-07|
| 11017|AW00011017|      Shannon|        Wang|                 S|       F|     2025-10-07|
| 11018|AW00011018|     Clarence|         Rai|                 S|       M|     2025-10-07|
| 11019|AW00011019|         Luke|         Lal|                 S|       M|     2025-10-07|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

### Now column in customer information remove the replica and redandancy

In [74]:
# Now check after making data qulity in column cst_id
data_csv_cst_id = data_csv_cst_id_edit.select('*')\
.groupBy('cst_id')\
.agg(fn.count('*').alias('count_number'))\
.where((col('cst_id').isNotNull()) & (col('count_number') > 1)).show()

+------+------------+
|cst_id|count_number|
+------+------------+
+------+------------+

In [75]:
data_csv_cst_id_edit.show(2)

+------+----------+-------------+------------+------------------+--------+---------------+
|cst_id|   cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+----------+-------------+------------+------------------+--------+---------------+
| 11000|AW00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|AW00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
+------+----------+-------------+------------+------------------+--------+---------------+
only showing top 2 rows

In [76]:
data_csv_cst_cst_key_edit = data_csv_cst_id_edit.withColumn('cst_key' , regexp_extract(col('cst_key') , '(0.*)',1))

In [77]:
data_csv_cst_cst_key_edit.show(2)

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 2 rows

In [78]:
# Remove Null's values 
data_csv_cst_cst_key_edit_null = data_csv_cst_cst_key_edit.select('*')\
.where(col('cst_key').isNotNull())

In [79]:
data_csv_cst_cst_key_edit_null.show(2)

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|       Yang |                 M|       M|     2025-10-06|
| 11001|00011001|       Eugene|     Huang  |                 S|       M|     2025-10-06|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 2 rows

In [80]:
# Now check about the data cleasing unwanted spaces
data_csv_cst_firstname_check = data_csv_cst_cst_key_edit_null.select('cst_firstname')\
.where(col('cst_firstname') != trim('cst_firstname')).count()

In [81]:
# Now have a problem have 17 unwantwed spaces names 
data_csv_cst_firstname_check

17

In [82]:
# Now solve this problem to handle unwanted spaces 
data_csv_cst_names_trim = data_csv_cst_cst_key_edit_null.withColumn('cst_firstname' , trim(col('cst_firstname')))\
    .withColumn('cst_lastname',trim(col('cst_lastname')))

In [83]:
data_csv_cst_names_trim.show()

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|                 M|       M|     2025-10-06|
| 11001|00011001|       Eugene|       Huang|                 S|       M|     2025-10-06|
| 11002|00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
| 11005|00011005|        Julio|        Ruiz|                 S|       M|     2025-10-06|
| 11006|00011006|        Janet|     Alvarez|                 S|       F|     2025-10-06|
| 11007|00011007|        Marco|       Mehta|                 M|       M|     2025-10-06|
| 11008|00011008|          Rob|     Verhoff|                 S|       F|     2025-10-06|
| 11009|00011009|      Shannon|     Carlson|                 S|       M|     2025-10-06|
| 11010|00011010|    Jacquelyn|      Suarez|                 S|       F|     2025-10-06|
| 11011|00011011|       Curtis|          Lu|                 M|       M|     2025-10-06|
| 11012|00011012|       Lauren|      Walker|                 M|       F|     2025-10-06|
| 11013|00011013|          Ian|     Jenkins|                 M|       M|     2025-10-06|
| 11014|00011014|       Sydney|     Bennett|                 S|       F|     2025-10-06|
| 11015|00011015|        Chloe|       Young|                 S|       F|     2025-10-06|
| 11016|00011016|        Wyatt|        Hill|                 M|       M|     2025-10-07|
| 11017|00011017|      Shannon|        Wang|                 S|       F|     2025-10-07|
| 11018|00011018|     Clarence|         Rai|                 S|       M|     2025-10-07|
| 11019|00011019|         Luke|         Lal|                 S|       M|     2025-10-07|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [84]:
data_csv_cst_firstname_check_after_trim = data_csv_cst_names_trim.select('cst_firstname')\
.where(col('cst_firstname') != trim('cst_firstname')).count()

In [85]:
# Now data good quality by removing unwanted spaces from cst_firstname and cst_lastname
data_csv_cst_firstname_check_after_trim

0

In [86]:
data_csv_cst_names_trim.show(5)

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|                 M|       M|     2025-10-06|
| 11001|00011001|       Eugene|       Huang|                 S|       M|     2025-10-06|
| 11002|00011002|        Ruben|      Torres|                 M|       M|     2025-10-06|
| 11003|00011003|      Christy|         Zhu|                 S|       F|     2025-10-06|
| 11004|00011004|    Elizabeth|     Johnson|                 S|       F|     2025-10-06|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 5 rows

In [87]:
# Now check about the data standralization and consistency 
data_csv_cst_marital_status = data_csv_cst_names_trim.select('cst_marital_status').distinct().show()

+------------------+
|cst_marital_status|
+------------------+
|                 M|
|                 S|
|              NULL|
+------------------+

In [88]:
data_csv_cst_names_trim.createOrReplaceTempView('customer_info_marital')

In [89]:
spark.sql('SELECT * FROM customer_info_marital').show(2)

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|                 M|       M|     2025-10-06|
| 11001|00011001|       Eugene|       Huang|                 S|       M|     2025-10-06|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 2 rows

In [90]:
data_csv_cst_gndr = data_csv_cst_names_trim.select('cst_gndr').distinct().show()

+--------+
|cst_gndr|
+--------+
|       F|
|       M|
|    NULL|
+--------+

In [91]:
data_csv_cst_marital_status_edit = spark.sql('''
    SELECT crm.cst_id , crm.cst_key,crm.cst_firstname,crm.cst_lastname,
                        CASE 
                            WHEN UPPER(TRIM(crm.cst_marital_status)) = 'M' THEN 'MARRIED'
                            WHEN UPPER(TRIM(crm.cst_marital_status)) = 'S' THEN 'SINGLE'                         
                            ELSE 'N/A'                         
                        END AS cst_marital_status , 
                        CASE
                            WHEN UPPER(TRIM(crm.cst_gndr)) = 'F' THEN 'FEMALE'
                            WHEN UPPER(TRIM(crm.cst_gndr)) = 'M' THEN 'MALE'
                            ELSE 'N/A'
                        END AS cst_gndr, 
                        crm.cst_create_date
                    FROM customer_info_marital as crm
''')

In [92]:
data_csv_cst_marital_status_edit.show()

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|           MARRIED|    MALE|     2025-10-06|
| 11001|00011001|       Eugene|       Huang|            SINGLE|    MALE|     2025-10-06|
| 11002|00011002|        Ruben|      Torres|           MARRIED|    MALE|     2025-10-06|
| 11003|00011003|      Christy|         Zhu|            SINGLE|  FEMALE|     2025-10-06|
| 11004|00011004|    Elizabeth|     Johnson|            SINGLE|  FEMALE|     2025-10-06|
| 11005|00011005|        Julio|        Ruiz|            SINGLE|    MALE|     2025-10-06|
| 11006|00011006|        Janet|     Alvarez|            SINGLE|  FEMALE|     2025-10-06|
| 11007|00011007|        Marco|       Mehta|           MARRIED|    MALE|     2025-10-06|
| 11008|00011008|          Rob|     Verhoff|            SINGLE|  FEMALE|     2025-10-06|
| 11009|00011009|      Shannon|     Carlson|            SINGLE|    MALE|     2025-10-06|
| 11010|00011010|    Jacquelyn|      Suarez|            SINGLE|  FEMALE|     2025-10-06|
| 11011|00011011|       Curtis|          Lu|           MARRIED|    MALE|     2025-10-06|
| 11012|00011012|       Lauren|      Walker|           MARRIED|  FEMALE|     2025-10-06|
| 11013|00011013|          Ian|     Jenkins|           MARRIED|    MALE|     2025-10-06|
| 11014|00011014|       Sydney|     Bennett|            SINGLE|  FEMALE|     2025-10-06|
| 11015|00011015|        Chloe|       Young|            SINGLE|  FEMALE|     2025-10-06|
| 11016|00011016|        Wyatt|        Hill|           MARRIED|    MALE|     2025-10-07|
| 11017|00011017|      Shannon|        Wang|            SINGLE|  FEMALE|     2025-10-07|
| 11018|00011018|     Clarence|         Rai|            SINGLE|    MALE|     2025-10-07|
| 11019|00011019|         Luke|         Lal|            SINGLE|    MALE|     2025-10-07|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [93]:
data_csv_cst_marital_status_edit.dtypes

[('cst_id', 'int'),
 ('cst_key', 'string'),
 ('cst_firstname', 'string'),
 ('cst_lastname', 'string'),
 ('cst_marital_status', 'string'),
 ('cst_gndr', 'string'),
 ('cst_create_date', 'date')]

In [94]:
data_csv_cst__date_format = data_csv_cst_marital_status_edit.withColumn('cst_create_date' , date_format(col('cst_create_date'),'dd-MM-yyyy'))

In [95]:
data_csv_cst__date_format.dtypes

[('cst_id', 'int'),
 ('cst_key', 'string'),
 ('cst_firstname', 'string'),
 ('cst_lastname', 'string'),
 ('cst_marital_status', 'string'),
 ('cst_gndr', 'string'),
 ('cst_create_date', 'string')]

In [96]:
data_csv_cst__date_format.withColumn('cst_create_date' , to_date(col('cst_create_date'),'dd-MM-yyyy')).show()

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|           MARRIED|    MALE|     2025-10-06|
| 11001|00011001|       Eugene|       Huang|            SINGLE|    MALE|     2025-10-06|
| 11002|00011002|        Ruben|      Torres|           MARRIED|    MALE|     2025-10-06|
| 11003|00011003|      Christy|         Zhu|            SINGLE|  FEMALE|     2025-10-06|
| 11004|00011004|    Elizabeth|     Johnson|            SINGLE|  FEMALE|     2025-10-06|
| 11005|00011005|        Julio|        Ruiz|            SINGLE|    MALE|     2025-10-06|
| 11006|00011006|        Janet|     Alvarez|            SINGLE|  FEMALE|     2025-10-06|
| 11007|00011007|        Marco|       Mehta|           MARRIED|    MALE|     2025-10-06|
| 11008|00011008|          Rob|     Verhoff|            SINGLE|  FEMALE|     2025-10-06|
| 11009|00011009|      Shannon|     Carlson|            SINGLE|    MALE|     2025-10-06|
| 11010|00011010|    Jacquelyn|      Suarez|            SINGLE|  FEMALE|     2025-10-06|
| 11011|00011011|       Curtis|          Lu|           MARRIED|    MALE|     2025-10-06|
| 11012|00011012|       Lauren|      Walker|           MARRIED|  FEMALE|     2025-10-06|
| 11013|00011013|          Ian|     Jenkins|           MARRIED|    MALE|     2025-10-06|
| 11014|00011014|       Sydney|     Bennett|            SINGLE|  FEMALE|     2025-10-06|
| 11015|00011015|        Chloe|       Young|            SINGLE|  FEMALE|     2025-10-06|
| 11016|00011016|        Wyatt|        Hill|           MARRIED|    MALE|     2025-10-07|
| 11017|00011017|      Shannon|        Wang|            SINGLE|  FEMALE|     2025-10-07|
| 11018|00011018|     Clarence|         Rai|            SINGLE|    MALE|     2025-10-07|
| 11019|00011019|         Luke|         Lal|            SINGLE|    MALE|     2025-10-07|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [97]:
data_csv_cst__date_format.show()

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|           MARRIED|    MALE|     06-10-2025|
| 11001|00011001|       Eugene|       Huang|            SINGLE|    MALE|     06-10-2025|
| 11002|00011002|        Ruben|      Torres|           MARRIED|    MALE|     06-10-2025|
| 11003|00011003|      Christy|         Zhu|            SINGLE|  FEMALE|     06-10-2025|
| 11004|00011004|    Elizabeth|     Johnson|            SINGLE|  FEMALE|     06-10-2025|
| 11005|00011005|        Julio|        Ruiz|            SINGLE|    MALE|     06-10-2025|
| 11006|00011006|        Janet|     Alvarez|            SINGLE|  FEMALE|     06-10-2025|
| 11007|00011007|        Marco|       Mehta|           MARRIED|    MALE|     06-10-2025|
| 11008|00011008|          Rob|     Verhoff|            SINGLE|  FEMALE|     06-10-2025|
| 11009|00011009|      Shannon|     Carlson|            SINGLE|    MALE|     06-10-2025|
| 11010|00011010|    Jacquelyn|      Suarez|            SINGLE|  FEMALE|     06-10-2025|
| 11011|00011011|       Curtis|          Lu|           MARRIED|    MALE|     06-10-2025|
| 11012|00011012|       Lauren|      Walker|           MARRIED|  FEMALE|     06-10-2025|
| 11013|00011013|          Ian|     Jenkins|           MARRIED|    MALE|     06-10-2025|
| 11014|00011014|       Sydney|     Bennett|            SINGLE|  FEMALE|     06-10-2025|
| 11015|00011015|        Chloe|       Young|            SINGLE|  FEMALE|     06-10-2025|
| 11016|00011016|        Wyatt|        Hill|           MARRIED|    MALE|     07-10-2025|
| 11017|00011017|      Shannon|        Wang|            SINGLE|  FEMALE|     07-10-2025|
| 11018|00011018|     Clarence|         Rai|            SINGLE|    MALE|     07-10-2025|
| 11019|00011019|         Luke|         Lal|            SINGLE|    MALE|     07-10-2025|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [98]:
data_csv_cst__date_format.dtypes

[('cst_id', 'int'),
 ('cst_key', 'string'),
 ('cst_firstname', 'string'),
 ('cst_lastname', 'string'),
 ('cst_marital_status', 'string'),
 ('cst_gndr', 'string'),
 ('cst_create_date', 'string')]

In [99]:
spark.sql('USE Employee')

DataFrame[]

In [100]:
data_csv_cst__date_format.write.mode('overwrite').saveAsTable('customer_infoo')

In [102]:
spark.sql('USE Employee')
spark.sql('SELECT * FROM Employee.customer_infoo').show()

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|           MARRIED|    MALE|     06-10-2025|
| 11001|00011001|       Eugene|       Huang|            SINGLE|    MALE|     06-10-2025|
| 11002|00011002|        Ruben|      Torres|           MARRIED|    MALE|     06-10-2025|
| 11003|00011003|      Christy|         Zhu|            SINGLE|  FEMALE|     06-10-2025|
| 11004|00011004|    Elizabeth|     Johnson|            SINGLE|  FEMALE|     06-10-2025|
| 11005|00011005|        Julio|        Ruiz|            SINGLE|    MALE|     06-10-2025|
| 11006|00011006|        Janet|     Alvarez|            SINGLE|  FEMALE|     06-10-2025|
| 11007|00011007|        Marco|       Mehta|           MARRIED|    MALE|     06-10-2025|
| 11008|00011008|          Rob|     Verhoff|            SINGLE|  FEMALE|     06-10-2025|
| 11009|00011009|      Shannon|     Carlson|            SINGLE|    MALE|     06-10-2025|
| 11010|00011010|    Jacquelyn|      Suarez|            SINGLE|  FEMALE|     06-10-2025|
| 11011|00011011|       Curtis|          Lu|           MARRIED|    MALE|     06-10-2025|
| 11012|00011012|       Lauren|      Walker|           MARRIED|  FEMALE|     06-10-2025|
| 11013|00011013|          Ian|     Jenkins|           MARRIED|    MALE|     06-10-2025|
| 11014|00011014|       Sydney|     Bennett|            SINGLE|  FEMALE|     06-10-2025|
| 11015|00011015|        Chloe|       Young|            SINGLE|  FEMALE|     06-10-2025|
| 11016|00011016|        Wyatt|        Hill|           MARRIED|    MALE|     07-10-2025|
| 11017|00011017|      Shannon|        Wang|            SINGLE|  FEMALE|     07-10-2025|
| 11018|00011018|     Clarence|         Rai|            SINGLE|    MALE|     07-10-2025|
| 11019|00011019|         Luke|         Lal|            SINGLE|    MALE|     07-10-2025|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 20 rows

In [103]:
data_csv_cst__date_format.createOrReplaceTempView('finale_customer_edit')

In [104]:
data_csv_cst__date_format.show(2)

+------+--------+-------------+------------+------------------+--------+---------------+
|cst_id| cst_key|cst_firstname|cst_lastname|cst_marital_status|cst_gndr|cst_create_date|
+------+--------+-------------+------------+------------------+--------+---------------+
| 11000|00011000|          Jon|        Yang|           MARRIED|    MALE|     06-10-2025|
| 11001|00011001|       Eugene|       Huang|            SINGLE|    MALE|     06-10-2025|
+------+--------+-------------+------------+------------------+--------+---------------+
only showing top 2 rows

In [105]:
data_customer_info = spark.sql('''
                SELECT    
                               ROW_NUMBER() over(order by fn.cst_create_date DESC) as customer_idd,
                               fn.cst_id as customer_id, 
                               fn.cst_key as customer_key,
                               fn.cst_firstname as customer_first_name,
                               fn.cst_lastname as customert_last_name,
                               fn.cst_marital_status as customer_marital_status,
                               fn.cst_gndr as customer_gender,
                               fn.cst_create_date as customer_date 
                               
                               FROM finale_customer_edit as fn 

''')

In [106]:
data_customer_info.select('customer_gender').distinct().show()

+---------------+
|customer_gender|
+---------------+
|           MALE|
|            N/A|
|         FEMALE|
+---------------+

In [ ]:
spark.sql('DROP TABLE IF EXISTS customer_infoo')

In [107]:
# Save as managed table in spark-warehouse 
data_customer_info.write.mode('overwrite').saveAsTable('customer_infoo')

In [108]:
spark.sql('SELECT * FROM customer_infoo').show()

+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
|customer_idd|customer_id|customer_key|customer_first_name|customert_last_name|customer_marital_status|customer_gender|customer_date|
+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
|           1|      15351|    00015351|              Steve|                 Lu|                MARRIED|            N/A|   31-12-2025|
|           2|      15195|    00015195|              Edwin|              Huang|                 SINGLE|            N/A|   31-10-2025|
|           3|      15350|    00015350|           Kathleen|            Serrano|                MARRIED|            N/A|   30-12-2025|
|           4|      15225|    00015225|            Yolanda|               Bhat|                MARRIED|            N/A|   30-11-2025|
|           5|      15194|    00015194|               Erik|             Suarez|                 SINGLE|            N/A|   30-10-2025|
|           6|      15349|    00015349|          Stephanie|           Gonzalez|                MARRIED|            N/A|   29-12-2025|
|           7|      15224|    00015224|              Pedro|          Gutierrez|                 SINGLE|            N/A|   29-11-2025|
|           8|      15193|    00015193|             Samuel|               King|                 SINGLE|            N/A|   29-10-2025|
|           9|      15348|    00015348|               Greg|             Carter|                 SINGLE|            N/A|   28-12-2025|
|          10|      15223|    00015223|              Ebony|             Martin|                 SINGLE|            N/A|   28-11-2025|
|          11|      15192|    00015192|              Tasha|               Shan|                 SINGLE|            N/A|   28-10-2025|
|          12|      15347|    00015347|             Deanna|             Alonso|                MARRIED|            N/A|   27-12-2025|
|          13|      15222|    00015222|            Cynthia|              Patel|                MARRIED|            N/A|   27-11-2025|
|          14|      15191|    00015191|             Andres|              Kumar|                 SINGLE|            N/A|   27-10-2025|
|          15|      15346|    00015346|            Charles|          Rodriguez|                 SINGLE|            N/A|   26-12-2025|
|          16|      15221|    00015221|               Troy|               Arun|                 SINGLE|            N/A|   26-11-2025|
|          17|      15190|    00015190|          Katherine|             Watson|                 SINGLE|            N/A|   26-10-2025|
|          18|      15345|    00015345|             Ashley|              Perry|                MARRIED|            N/A|   25-12-2025|
|          19|      15220|    00015220|              Micah|                Liu|                 SINGLE|            N/A|   25-11-2025|
|          20|      15189|    00015189|              Kayla|            Russell|                MARRIED|            N/A|   25-10-2025|
+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
only showing top 20 rows

In [109]:
data_customer_info.write.format('parquet')\
.option('compression' , 'gzip')\
.option('path', '/home/hazem/snowflake_dbt_spark/scripts/files_output/')\
.mode('append')\
.save()

In [111]:
data_customer_info.show(2)

+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
|customer_idd|customer_id|customer_key|customer_first_name|customert_last_name|customer_marital_status|customer_gender|customer_date|
+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
|           1|      15351|    00015351|              Steve|                 Lu|                MARRIED|            N/A|   31-12-2025|
|           2|      15195|    00015195|              Edwin|              Huang|                 SINGLE|            N/A|   31-10-2025|
+------------+-----------+------------+-------------------+-------------------+-----------------------+---------------+-------------+
only showing top 2 rows

In [133]:
data_customer_info.write.format('jdbc') \
  .option('url','jdbc:mysql://mysql-db:3306/erp_spark') \
  .option("driver", "com.mysql.cj.jdbc.Driver")\
  .option('dbtable','customer_info') \
  .option('user','root') \
  .option('password','P@ssw0rd') \
  .mode('overwrite')\
  .save()

Py4JJavaError: An error occurred while calling o414.save.
: java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:594)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:527)
	at org.apache.spark.sql.execution.datasources.jdbc.DriverRegistry$.register(DriverRegistry.scala:46)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$1$adapted(JDBCOptions.scala:103)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:103)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:254)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:258)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:47)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:48)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:201)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:108)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:900)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:66)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:107)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(origin.scala:76)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:461)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:32)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:437)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:85)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:83)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:142)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:869)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:391)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:364)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:251)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)